*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body{
    color: white;

    background-color: hsl(0, 100%, 74%);
    background-image:url(./bg-intro-desktop.png);


}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;
    margin: 0 auto;
}
.container>div{
    flex: 1;
    padding: 0 20px;
}

.heading{
    font-size: 40px;
    line-height: 50px;
}
.left-para{
   font-size: 14px;
   opacity: 0.8;
}

.box{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;

}

.boxhead{
    background-color: #5D54A3;
    padding: 20px;
}

.box p{
    margin: 0;

}


.form-control{
    margin-bottom: 30px;
    position: relative;
    
}
.form-control small{
    position: absolute;
    text-align: right;
    right: 0;
    opacity: 0;
    bottom: -30px;
    color:hsl(0, 100%, 74%);
}

input{
    display: block;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 14px;
    border: 1.5px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    width: 100%;
}
input:focus{
    border: 2px solid #5D54A3;
    outline: none;
}

.form-control.error input{
    border: 2px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.form-control img{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
}

.form-control.error img{
    opacity: 1;
}
button{
    background-color: hsl(154, 59%, 51%);
    display: block;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid  hsl(154, 59%, 40%) ;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 4px  hsl(154, 59%, 40%);
    margin-bottom: 10px;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: 0 0  hsl(154, 59%, 40%);
    transform: translateY(2px);
}

small{
    display: block;
    color: #bbb;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 10px;
}
small a{
    font-size: 12px;
    text-decoration: none;
    color:  hsl(0, 100%, 74%);
}

@media screen and (max-width:768px){
   
    .container{
        flex-direction: column;
    }
   
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
}
